# Основные зависимости для работы с трансформерами и данными
transformers>=4.37.0,<4.41.0
datasets>=2.18.0,<3.0.0
fsspec>=2023.1.0,<2024.6.1

# Зависимости для обучения моделей и работы с данными
simpletransformers==0.64.3
scikit-learn>=1.0.0
torch>=1.13.0
accelerate>=0.29.2
pandas>=1.3.0
numpy>=1.21.0
